@import url("https://fonts.googleapis.com/css2?family=Verdana&display=swap");


* {
    font-family: "Verdana", sans-serif;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
}

body {
    overflow: hidden;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
}

.project {
    color: #1d4ed8;
}

.job {
    color: #a21caf;
}

.operation {
    color: #4d7c0f;
}

.task {
    color: #fde047;
}

.dropdown-color {
    color: #ffffff;
}


.overlay,
.overlay-inner {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.7);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    overflow-y: hidden;
    border-radius: 30px;
    box-shadow: 0 0 50px 5px rgba(23, 193, 232, 0.05);
}

.overlay {
    border-radius: 0px;
}

.overlay-inner {
    width: 99vw;
    height: 98vh;
    background-color: var(--bs-body-bg);
}

.customScrollbar::-webkit-scrollbar {
    height: 5px;
}

.operationStatusButtons {
    transition: all 0.2s linear;
}

/* Toggle styles */
.checkboxDarkLight {
    opacity: 0;
    position: absolute;
}

.checkboxDarkLight-label {
    background-color: #5c7d6d;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkboxDarkLight-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkboxDarkLight:checked+.checkboxDarkLight-label .ball {
    transform: translateX(24px);
}

/* Define the style for the custom link */
.custom-link {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.custom-link:hover {
    color: #BF55EC;
}

.operations-list {
    position: relative;
    display: flex;
    gap: 20px;
}

.dot {
    width: 51px;
    height: 46px;
    background-color: #0ff240;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
}

.line {
    position: absolute;
    width: 2px;
    background-color: #0ff240;
    left: 25px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.additional-content {
    color: var(--white-color);
    background-color: var(--bs-body-bg);
}

.list-group-item:hover,
.list-group-item.active {
    background-color: #007bff;
    color: #fff;
}

.active-popup {
    background-color: #007bff;
}

#scatterPlot {
    width: 400px;
    margin: 20px auto;
}

.dot {
    fill: blue;
}

.line {
    fill: none;
    stroke: blue;
    stroke-width: 2px;
}

.axis-label {
    font-size: 12px;
}